
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    width: 100%;
    margin-bottom: 5px;
}

input {
    width: calc(50% - 5px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#clearFilters {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
}

#clearFilters:hover {
    background-color: #eee;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.movie-tile {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.movie-tile img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

a {
    text-decoration: none; 
    color: #007BFF; 
    transition: color 0.3s; 
}

a:hover {
    color: #0056b3; 
}
